.dialog {
  width: 200px;     /*Interact with angular? Otherwise, put directly in HTML*/
  height: 180px;
  resize: both;
  overflow: auto;
  border: 1px black solid;
  display: block;
  position: relative;
}

#topbar {
    border: 1px lightgrey solid;
    background-color: grey;
    display: block;
}

#topbar:hover {
    cursor: pointer;
}