.dialog {
  resize: both;
  overflow: auto;
  border: 1px black solid;
  display: block;
  position: relative;
}

#topbar {
    border: 1px lightgrey solid;
    background-color: grey;
    display: block;
}

#topbar:hover {
    cursor: pointer;
}